* {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    scroll-behavior: smooth;

}

:root {
    --color-verdeAgua: #3CA6A6;
    --color-verdeAguaHover: #298b8b;
    --color-cream: #F2E3D5;
    --color-cream2:#f1cba7;
    --color-cream3: #d39b66;
    --color-darkGreen3: #012E40; 
    --color-darkGreen2: #024959; 
    --color-darkGreen1: #026773; 
}

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.header {
    flex-basis: 80px;
}

.bar {
    background: var(--color-verdeAgua);
    background-image: url(./MUEBLESchicos.svg);
    background-position: center;
    position: relative;
    z-index: 5;
    width: 100%;
    padding: 30px;
    box-shadow: 0px 1px 15px 1px #012E40;
}

.header-container__logo {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;

}

.header-container {
    background-image: url(./fondo-hojas.webp);
    /* background-position: bottom 200px; */
    background-size: contain;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    /* box-shadow: 0px 1px 15px 1px #012E40; */
    /* margin-top: calc(10%); */
    /* padding: calc(10%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
}

.header-container__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}

.header-container__item {
    font-size: 16px;
    display: flex;
    background: var(--color-verdeAgua);
    border-radius: 5px;
    z-index: 10;
    padding: 10px 7px;
    letter-spacing: 2px;
    color:#F2E3D5;
    box-shadow: 2px 2px 8px #026773;
    animation-name: onLoadButtons;
    animation-duration: 3s;
    /* animation-delay: 1s; */
}

@keyframes onLoadButtons {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}


.header-container__item:hover {
    background-color: var(--color-verdeAguaHover) ;
}

.linkGaleria:link, .linkGaleria:visited, .linkGaleria:active,
.contact:link, .contact:visited, .contact:active,
.linkAboutMe:link, .linkAboutMe:visited, .linkAboutMe:active {
    text-decoration: none;
    color: var(--color-cream);
}

.bar--absolute {
    display: absolute;
    bottom: -50px;
}

.main {
    font-size: 18px;
    background: #F2E3D5;
    padding: 40px;
    padding-top: 100px;
    text-align: justify;
}

.main__gallery {
    margin: 40px;
    font-size: 25px;
    text-align: center;
}

a {
    text-decoration: none;
}

.main__moreContent {
    font-size: 24px;
    margin-top: 80px;
    margin-bottom: 0px;
    letter-spacing: 1px;
}

.aside {
    background: #026773;
    justify-content: center;
    background-attachment:scroll;
}

.aside__container {
    background-image: url(./MUEBLESchicos.svg);
    background-position: center;
    color:#F2E3D5;
    background-size: 800px;
    padding: 50px;

}

.footer {
    display: flex;
    background: #024959;
    /* background: #012E40; */
    flex-basis: 50px;
    padding: 25px;
    color:#F2E3D5;
    text-align: center;
}

.footer__li-container {
    margin: auto;
}

.footer__parrafo {
    font-size: 20px;
    margin: 15px;
    letter-spacing: 2px;
}

.footer__li {
    display: inline-block;
    margin: 0px 20px;

}

.fa-instagram, .fa-envelope  {
    font-size: 25px;
    text-decoration: none;
    color: var(--color-cream);
}





/*-----------------------------------Gallery and Overlay-----------------------------------------*/


.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 15px;
    justify-content: center;
}

.column {
    flex: 100%;
    max-width: 100%;
}

.gallery__img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    /* filter: grayscale(100%); */
    /* check transition: ; */
    transition-property: inherit;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.gallery__img:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.overlay {
    position: fixed;
    left: -10px;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: inherit;
    transition: 0.7s ease;
    visibility: hidden;
    opacity: 0;
}

.slideshow {
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
    position: relative;
    display: flex;
    justify-content: center;
}

.slideshow img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.btn_close {
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    /* check transition: ; */
    transition-property: inherit ;
    transition-timing-function: ease;
    transition-duration: 0.2s;
}

.btn_close:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.buttons {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--color-cream2);
}

.buttons:hover > i{
    transform: scale(1.1);
    transition: transform 0,2s ease;
}

.previous {
    left: 20px;
}

.next {
    right: 20px;
}

.btnL, .btnR {
    pointer-events: none;
} 



/*--------------------------------------tablet------------------------------------------------*/

@media screen and (min-width: 768px){

    .main {
        padding: 70px;
        padding-top: 120px;
    }

    .column {
        flex: 50%;
        max-width: 50%;
        padding: 0px 5px;
    }
        
    .buttons {
        font-size: 55px;
    }

    .previous {
        left: 20px;
    }

    .next {
        right: 20px;
    }

    .overlay {
        left: 0;
        width: 98vw;
    }

    .slideshow {
        width: 96%;
    }

}



/*----------------------------------------Desktop----------------------------------------------*/
/*--------------------------------------------------------------------------------------*/

@media screen and (min-width: 1024px) {

    .header-container {
        background-size: cover;
        background-repeat: repeat;
    }

    .header-container__logo img {
        display: flex;
        transform: scale(1.5);
        margin: auto;
        margin-top: 50px;
    }

    .bar {
        padding: 40px;
    }

    .header-container__list {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 50px;

    }
    .header-container__item {
        padding: 15px 20px;
        margin-top: 50px;
    }

    article {
        background-color: var(--color-verdeAgua);
        /* flex-shrink: 2; */
        margin-top: -20px;
    }

    .bar--absolute bar--responsive {
        bottom: -150px;
    }

    .main {
        /* flex-grow: 3; */
        margin: 150px 250px 0px 250px;
        padding: 100px 80px;

    }

    .gallery__img {
        margin-top: 10px;
    }

    .column {
        flex: 23%;
        max-width: 23%;
        padding: 0 5px;
    }
    
    .overlay {
        
        width: 100vw;
    }

    .slideshow {
        left: -10px;
        width: 96%;
    }

    .main__moreContent {
        text-align: center;
    }

    .aside__container {
        padding: 50px;
        background-color: #024959;
        /* background-image: none; */

    }
    
    .footer {
        padding: 40px;
        background-color: #026773;
    }

}